<h1>Select the Album to begin with...</h1> <br/>
{{#if albums}}
    {{#each albums}}
        <h5><a class = "btn btn-primary" href="/ranking?artistDBID={{ArtistDBId}}&albumId={{Id}}" target="_self">{{this.Title}}</a></h5> <br/>
    {{/each}}
{{else}}
    <p>No albums found.</p>
{{/if}}