<img src="{{AlbumCover.url}}" >
<h4>{{Title}}</h4>
<form action="/ranking" method="POST">
<input type="range" name="RankingSlider" id="Ranking" min="0" max="10" >
<input type="number" name="RankingInput" id="Ranking" min="0" max="10">
<button class = "btn btn-primary" type="submit">Submit</button>
</form>
