
<form action="/results" type="GET">
<nav class="navbar navbar-light bg-light">
    <form class="form-inline" action="/results" method="GET">
    <input class="form-control mr-sm-2" type="search" name ="query" placeholder="Case Sensitive Search" aria-label="Search">
    <button class="btn btn-primary my-2 my-sm-0" type="submit">Search</button>
</nav>
</form>
